<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.springboot_study.mapper.BookMapper">
    <resultMap id="BookResultMap" type="com.korit.springboot_study.entity.Book">
        <id property="bookId" column="book_id" />
        <result property="bookName" column="book_name" />
    </resultMap>
    <insert id="insertBook" keyProperty="bookId" useGeneratedKeys="true">
        insert into book_tb (book_id, book_name)
        values (default, #{bookName})
    </insert>
    <select id="selectBooksAll" resultMap="BookResultMap">
        select
            book_name
        from
            book_tb
        where book_name like concat("%", #{bookName}, "%")

    </select>

</mapper>