<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--resultMap id가 이름 type은 entity 경로-->
<mapper namespace="com.korit.springboot_study.mapper.RoleMapper">
    <insert id="insertAll">
        insert into role_tb
        values
        <foreach item="role" collection="roles" separator=","> <!--mybaites문법 -->
            (default, #{role.roleName})
        </foreach>

    </insert>

</mapper>
